@{
    Layout = "~/Layouts/_Layout.cshtml";
}
<li class="nav-item active">
    <a class="nav-link" href="~/Pages/Admin.cshtml">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="~/Pages/Users.cshtml">Users</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="~/Pages/Login.cshtml" title="Sign In"><i class="fa fa-sign-in"></i></a>
</li>


