@using Task10.Models;
@{
    Layout = "~/Layouts/_Layout.cshtml";
    
    string name = Request.Form["name"];
    string pass = Request.Form["pass"];
    if(IsPost&&pass=="admin")
    {
        FormsAuthentication.SetAuthCookie(name, createPersistentCookie: true);
        Response.Redirect("~/Pages/index.cshtml");
    }
}
    <link href="~/Styles/LoginStyle.css" rel="stylesheet" />
    <form action="#" method="post">
        <div class="imgcontainer">
            <img src="~/Images/thumbs/thumbnail.jpg"  alt="Avatar" class="avatar"/>
        </div>
        <div class="container">
            <label for="Name"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="name"  required >

            <label for="Pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass"  required >
           
            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
</form>
