.myclass{
    z-index: 1000;
    position: absolute;
    width: 160px;
    height: 110px;
    background-color: brown;
}
.myclass>button{
    margin-top: 60px;
   margin-left: 20px;
    width: 50px;
    height: 40px;
}