.head{
    padding: 50px;
  
}
.container{
    position: absolute;
    margin-top: -15px;
    display: flex;
   
}
div>button{
    display:block;
    width: 30px;
}
select{
    width:150px;
    height: 200px;
}